.apropos {

    width: 88%;
    position: relative;
    margin-top: 30px;
    margin-left: 6vw;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px
    }




}