.cards {
    display: grid;
    grid-gap: 70px;
    margin: 63px 0px 0px 7vw;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width: 88%;



    .card {
        cursor: pointer;
        position: relative;
        width: 20vw;

        img {
            width: 22vw;
            height: 40vh;
            border-radius: 10px;
            object-fit: cover;
            filter: brightness(70%);

            &:hover {
                filter: brightness(1);

            }
        }

        h3 {
            position: absolute;
            color: white;
            bottom: 0;
            font-size: 18px;
            padding-left: 10px;
        }
    }
}