.footer {
    width: 100%;
    height: 209px;
    background-color: black;
    margin-top: 210px;





    img {
        display: flex;
        position: relative;
        padding-left: 43%;
        padding-top: 4%;
    }

    p {
        color: white;
        font-family: 'Montserrat', sans-serif;
        padding-left: 40%;
        padding-right: 20%;
        padding-top: 1%;
    }
}