.header {
    display: flex;
    justify-content: space-between;
    color: black;

    nav {
        ul {
            display: flex;

            a {
                text-decoration: none;
                color: black;

                &.underline {
                    text-decoration: underline;
                }
            }

            li {
                margin: 0 10px;
                list-style: none
            }
        }
    }
}